You are given  words. Some words may repeat. For each word, output its number of occurrences. The output order should correspond with the input order of appearance of the word. See the sample input/output for clarification.

Sample Input
4
bcdef
abcdefg
bcde
bcdef

Sample Output
3
2 1 1

In [ ]:
n=int(input())

In [ ]:
word_list=[]
for i in range(0,n):
    word_list.append(input())

In [ ]:
from collections import Counter

In [ ]:
 counter=Counter(word_list)

In [ ]:
for i in counter.values():
    print(i)

In [ ]:
len(counter)



Task

You are given a space separated list of numbers. 
Your task is to print a reversed NumPy array with the element type float.

Input Format

A single line of input containing space separated numbers.

Output Format

Print the reverse NumPy array with type float.

Sample Input

1 2 3 4 -8 -10


Sample Output

[-10.  -8.   4.   3.   2.   1.]

In [ ]:
import numpy

In [ ]:
def arrays(arr):
    arr=list(map(int,arr))   
    arr.reverse()
    return(list(map(float,arr)))
    
       

arr = input().strip().split(' ')
result = arrays(arr)
print(result)

You are given a spreadsheet that contains a list of  athletes and their details (such as age, height, weight and so on). You are required to sort the data based on the th attribute and print the final resulting table. Follow the example given below for better understanding.

image

Note that  is indexed from  to , where  is the number of attributes.

Note: If two attributes are the same for different rows, for example, if two atheletes are of the same age, print the row that appeared first in the input.

Input Format

The first line contains  and  separated by a space. 
The next  lines each contain  elements. 
The last line contains .

Sample Input 0

5 3
10 2 5
7 1 0
9 9 9
1 23 12
6 5 9
1
Sample Output 0

7 1 0
10 2 5
6 5 9
9 9 9
1 23 12

In [ ]:
import math
import os
import random
import re
import sys

if __name__ == '__main__':
    nm = input().split()
    n = int(nm[0])
    m = int(nm[1])
    arr = []
    for _ in range(n):
        arr.append(list(map(int, input().rstrip().split())))
    k = int(input())

In [ ]:
arr

In [ ]:
arr.sort(key=lambda x:x[k])

In [ ]:
for item in arr:
    for i in item:
        print(i,end=" ") 
    print()

You are given a string . 
 contains alphanumeric characters only. 
Your task is to sort the string  in the following manner:

All sorted lowercase letters are ahead of uppercase letters.
All sorted uppercase letters are ahead of digits.
All sorted odd digits are ahead of sorted even digits.

Sample Input
Sorting1234

Sample Output
ginortS1324

In [ ]:
lowercase=[]
uppercase=[]
even_digits=[]
odd_digits=[]

In [ ]:
#enter the string to be sorted in the above order
s=input()

In [ ]:
for c in s:
    if c.islower():
        lowercase.append(c)
    elif c.isupper():
        uppercase.append(c)
    elif c.isdigit() and int(c)%2==0:
        even_digits.append(c)
    else:
        odd_digits.append(c)

In [ ]:
print(lowercase)
print(uppercase)
print(even_digits)
print(odd_digits)

In [ ]:
"".join(lowercase+uppercase+odd_digits+even_digits)

A newly opened multinational brand has decided to base their company logo on the three most common characters in the company name. They are now trying out various combinations of company names and logos based on this condition. Given a string , which is the company name in lowercase letters, your task is to find the top three most common characters in the string.

Print the three most common characters along with their occurrence count.
Sort in descending order of occurrence count.
If the occurrence count is the same, sort the characters in alphabetical order.
For example, according to the conditions described above,

 would have it's logo with the letters

Input Format

A single line of input containing the string .

Constraints

Output Format

Print the three most common characters along with their occurrence count each on a separate line. 
Sort output in descending order of occurrence count. 
If the occurrence count is the same, sort the characters in alphabetical order.

Sample Input 0
aabbbccde

Sample Output 0

b 3
a 2
c 2

In [ ]:
if __name__ == '__main__':
    s = input()

In [ ]:
from collections import Counter

In [ ]:
counter=Counter(sorted(s))
counter

In [ ]:
top3_common=counter.most_common(3)

In [ ]:
for x,y in top3_common:
    print(x,y)

In [ ]:
x = [
 ['4', '21', '1', '14', '2008-10-24 15:42:58'], 
 ['3', '22', '4', '2somename', '2008-10-24 15:22:03'], 
 ['5', '21', '3', '19', '2008-10-24 15:45:45'], 
 ['6', '21', '1', '1somename', '2008-10-24 15:45:49'], 
 ['7', '22', '3', '2somename', '2008-10-24 15:45:51']
]

In [ ]:
from operator import itemgetter
x.sort(key=itemgetter(1))

In [ ]:
x

In [ ]:
import operator

def person_lister(f):
    def inner(people):        
        return([person for person in sorted(people,key=lambda item:int(item[2]))])       
        

@person_lister
def name_format(person):
    return ("Mr. " if person[3] == "M" else "Ms. ") + person[0] + " " + person[1]

if __name__ == '__main__':
    people = [input().split() for i in range(int(input()))]
    print(people)
    print(name_format(people), sep='\n')

In this challenge, you will be given  integers,  and . There are  words, which might repeat, in word group . There are words belonging to word group . For each  words, check whether the word has appeared in group  or not. Print the indices of each occurrence of  in group . If it does not appear, print .

In [9]:
n,m=input().split()

5 2

In [10]:
n=int(n)
m=int(m)

In [14]:
list_to_search=[]
for i in range(1,n+1):
    list_to_search.append(input())

a
a
b
a
b

In [15]:
list_target=[]
for i in range(1,m+1):
    list_target.append(input())

a
b

In [16]:
print(list_to_search)
print(list_target)

['a', 'a', 'b', 'a', 'b']
['a', 'b']

In [30]:
for word1 in list_target:
    cnt=list_to_search.count(word1)
    if cnt==0:
        print(-1)
    else:        
        start=0        
        for i in range(1,cnt+1):            
            pos=list_to_search.index(word1,start)
            print(pos+1,end=" ")
            start=pos+1
    print()

1 2 4
3 5

In [35]:
# How about this solution using defaultdict
from collections import defaultdict
d, n = defaultdict(list), list(map(int, input().split()))

5 2

In [36]:
for i in range(0,n[0]):
    d[input()].append(i+1)

a
a
b
a
b

In [37]:
d

defaultdict(list, {'a': [1, 2, 4], 'b': [3, 5]})

In [47]:
for i in range(0,n[1]):
    l=d.get(input())
    if l==[]:
        print(-1)
    else:
        print(*l)

a
1 2 4
c
-1

In [45]:
d.get("c")

[]

In [44]:
type(d)

collections.defaultdict

Named Tuples:
Task

Dr. John Wesley has a spreadsheet containing a list of student's , ,  and .

Your task is to help Dr. Wesley calculate the average marks of the students.


Note: 
1. Columns can be in any order. IDs, marks, class and name can be written in any order in the spreadsheet. 
2. Column names are ID, MARKS, CLASS and NAME. (The spelling and case type of these names won't change.)

In [10]:
from collections import namedtuple

In [11]:
Student=namedtuple("Student",["ID","MARKS","NAME","CLASS"])

In [12]:
N=int(input()) # Total number of Students
columns=input().split()   # names of columns in any order

5
MARKS      CLASS      NAME       ID

In [13]:
sum=0.0
for i in range(0,N):
    input_row=input().split()  #Enter ID, MARKS, NAME, CLASS in any order 
    for index,col in enumerate(columns):
        print(index)
        print(col)
        Student.col=input_row[index]
        
        if col=="MARKS":            
            sum=sum+float(input_row[index])
print(sum/N)

92         2          Calum      1
0
MARKS
1
CLASS
2
NAME
3
ID
82         5          Scott      2
0
MARKS
1
CLASS
2
NAME
3
ID
94         2          Jason      3
0
MARKS
1
CLASS
2
NAME
3
ID
55         8          Glenn      4
0
MARKS
1
CLASS
2
NAME
3
ID
82         2          Fergus     5
0
MARKS
1
CLASS
2
NAME
3
ID
81.0

In [14]:
print("{:0.2f}".format(sum/N))

81.00

#Another way of solving it:

In [17]:
from collections import namedtuple

N = int(input())
fields = input().split()

total = 0
for i in range(N):
    students = namedtuple('student',fields)
    field1, field2, field3,field4 = input().split()
    student = students(field1,field2,field3,field4)
    total += int(student.MARKS)
print('{:.2f}'.format(total/N))

5
ID         MARKS      NAME       CLASS
1          97         Raymond    7
2          50         Steven     4
3          91         Adrian     9
4          72         Stewart    5
5          80         Peter      6
78.00

# named tuple practice examples

In [19]:
# Declaring namedtuple() 
Student = namedtuple('Student',['name','age','DOB'])

In [21]:
S = Student('Nandini','19','2541997')

In [33]:
getattr(S,"age")

'19'

In [36]:
# Declaring namedtuple() 
Student = namedtuple('Student',['name','age','DOB']) 
  
# Adding values 
S = Student('Nandini','19','2541997') 
  
# initializing iterable  
li = ['Manjeet', '19', '411997' ] 
  
# initializing dict 
di = { 'name' : "Nikhil", 'age' : 19 , 'DOB' : '1391997' } 
  
# using _make() to return namedtuple() 
print ("The namedtuple instance using iterable is  : ") 
print (Student._make(li))

The namedtuple instance using iterable is  :
Student(name='Manjeet', age='19', DOB='411997')

In [37]:
# using _asdict() to return an OrderedDict() 
print ("The OrderedDict instance using namedtuple is  : ") 
print (S._asdict()) 
  
# using ** operator to return namedtuple from dictionary 
print ("The namedtuple instance from dict is  : ") 
print (Student(**di))

The OrderedDict instance using namedtuple is  :
OrderedDict([('name', 'Nandini'), ('age', '19'), ('DOB', '2541997')])
The namedtuple instance from dict is  :
Student(name='Nikhil', age=19, DOB='1391997')

In [38]:
# Declaring namedtuple() 
Student = namedtuple('Student',['name','age','DOB']) 
  
# Adding values 
S = Student('Nandini','19','2541997')

In [39]:
S._fields

('name', 'age', 'DOB')

In [40]:
S._replace(name="Sundar")

Student(name='Sundar', age='19', DOB='2541997')

# Task

##You are the manager of a supermarket. 
##You have a list of  items together with their prices that consumers bought on a particular day. 
##Your task is to print each item_name and net_price in order of its first occurrence.

##item_name = Name of the item. 
##net_price = Quantity of the item sold multiplied by the price of each item.

nput Format

The first line contains the number of items, . 
The next  lines contains the item's name and price, separated by a space.

Output Format

Print the item_name and net_price in order of its first occurrence.

In [41]:
from collections import OrderedDict

In [70]:
o=OrderedDict()

In [106]:
N=int(input())   #number of items

9

In [107]:
for i in range(0,N):    
    item_list=input().split()
    item_list_name=" ".join(item_list[:len(item_list)-1])
    price=item_list[len(item_list)-1]
    price=int(price)
    if o.get(item_list_name)==None:
        o[item_list_name]=price
    else:
        o[item_list_name]=o[item_list_name]+price

BANANA FRIES 12
POTATO CHIPS 30
APPLE JUICE 10
CANDY 5
APPLE JUICE 10
CANDY 5
CANDY 5
CANDY 5
POTATO CHIPS 30

In [108]:
for key,value in o.items():
    print(key,value)

BANANAFRIES 36.0
POTATOCHIPS 60.0
APPLEJUICE 20.0
CANDY 20.0

# Sample Input
3
1 0
2 $
3 1

Sample Output
Error Code: integer division or modulo by zero
Error Code: invalid literal for int() with base 10: '$'
3

In [7]:
n=int(input()) #number of test cases
for i in range(0,n):
    a,b=input().split()
    try:
        result=int(a)//int(b)
        print(result)
    except Exception as e:
        print("Error Code:",e)

3
1 0
Error Code: integer division or modulo by zero
2 $
Error Code: invalid literal for int() with base 10: '$'
3 1
3

# Re.findall() & Re.finditer()Ó©ù

In [39]:
VOWELS = '[aeiou]'
CONSONANTS = '[bcdfghjklmnpqrstvwxyz]'
REGEX = '(?<=' + CONSONANTS +')(' + VOWELS + '{2,})' + CONSONANTS

In [42]:
results=re.findall(pattern=REGEX,string="rabcdeefgyYhFjkIoomnpOeorteeeeet",flags=re.I)

In [43]:
print(results)

['ee', 'Ioo', 'Oeo', 'eeeee']

In [44]:
REGEX

'(?<=[bcdfghjklmnpqrstvwxyz])([aeiou]{2,})[bcdfghjklmnpqrstvwxyz]'